@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    background-image: url(bg1.png);
    text-align: center;
    background-size: cover;
    background-position: center;
}

nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
}

nav h2 {
    padding: .7rem;
    margin: auto;
}

button {
    width: 7rem;
    height: 1.5rem;
    margin: .5rem .5rem;
    background-color: white;
    border: 1px solid white;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

.line {
    margin: 1rem auto;
    border: black .2px solid;

}

.main {
    display: none;
    margin: 0 auto;
    height: 30rem;
}

.description {
    margin: 0 auto;
    font-size: 1.2rem;
    color: black;
    display: none;
    width: 80%;
}

.description p {
    margin: auto;
    padding: 1rem 0;
}

.graphcarr {
    background-color: white;
    width: 95%;
    height: auto;
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin: auto;
}

.infocarr {
    position: relative;
    display: inline-block;
    margin: auto;
}

.buttoncarr {
    margin: 1rem auto;
}

/* for swap script */

/* id */
.id #id {
    display: block;
}

.id #id-desc {
    display: block;
}

.id .bid {
    background: none;
    color: white;
}

/* hitam */
.hitam #hitam {
    display: block;
}

.hitam #hitam-desc {
    display: block;
}

.hitam .bhitam {
    background: none;
    color: white;
}

/* jahe */
.jahe #jahe {
    display: block;
}

.jahe #jahe-desc {
    display: block;
}

.jahe .bjahe {
    background: none;
    color: white;
}

/* kencur */
.kencur #kencur {
    display: block;
}

.kencur #kencur-desc {
    display: block;
}

.kencur .bkencur {
    background: none;
    color: white;
}

/* kunyit */
.kunyit #kunyit {
    display: block;
}

.kunyit #kunyit-desc {
    display: block;
}

.kunyit .bkunyit {
    background: none;
    color: white;
}

/* laos */
.laos #laos {
    display: block;
}

.laos #laos-desc {
    display: block;
}

.laos .blaos {
    background: none;
    color: white;
}

/* temulawak */
.lawak #lawak {
    display: block;
}

.lawak #lawak-desc {
    display: block;
}

.lawak .blawak {
    background: none;
    color: white;
}

/* lempuyangan */
.lemp #lemp {
    display: block;
}

.lemp #lemp-desc {
    display: block;
}

.lemp .blemp {
    background: none;
    color: white;
}

/* endfor */

@media screen and (max-width:1300px) {
    #graph {
        overflow: auto;
    }

    .main {
        display: none;
        width: 110rem;
        height: auto;
        min-height: 41rem;
    }

}

@media screen and (max-width:600px) {
    .graphcarr {
        background-color: white;
        width: 95%;
        height: auto;
        padding: 1rem 3rem;
        border-radius: 3rem;
        margin: auto;
    }

    .description {
        margin: 0 auto;
        font-size: 1.2rem;
        color: black;
        display: none;
        width: 100%;
    }






}