/* for swap script */
.main {
    display: none;
    width: 80rem;
    height: 30rem;
    margin: auto;
}

/* id */
.id #id {
    display: block;
}
.id .description.id-desc {
    display: block;
}
/* hitam */
.hitam #hitam {
    display: block;
}
.hitam .description.hitam-desc {
    display: block;
}

/* jahe */
.jahe #jahe {
    display: block;
}
.jahe .description.jahe-desc {
    display: block;
}

/* kencur */
.kencur #kencur {
    display: block;
}
.kencur .description.kencur-desc {
    display: block;
}

/* kunyit */
.kunyit #kunyit {
    display: block;
}
.kunyit .description.kunyit-desc {
    display: block;
}

/* laos */
.laos #laos {
    display: block;
}
.laos .description.laos-desc {
    display: block;
}

/* temulawak */
.lawak #lawak {
    display: block;
}
.lawak .description.lawak-desc {
    display: block;
}

/* lempuyangan */
.lemp #lemp {
    display: block;
}
.lemp .description.lemp-desc {
    display: block;
}

/* endfor */

body {
    background-color: rgb(255, 255, 255);
}

#graph {
    margin: auto;
    background-color: white;
    width: 80rem;
}

.graphcarr {
    text-align: center;
    align-items: center;
}

.description {
    margin-top: 1rem;
    font-size: 1rem;
    color: black;
    display: none; /* Default to hidden */
}
